name: Delete failed runs
on:
  workflow_dispatch:
jobs:
  delete_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: dmvict/clean-workflow-runs@v1
        with:
          token: ${{ github.token }}
          repo: bobbintb/slackware_packages
          branch: main
          run_conclusions: |
            failure
