name: Run in Slackware Container
on:
  workflow_dispatch:
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aclemons/slackware:latest

    steps:
    - name: Update and install packages
      run: |
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        slackpkg install aaa_libraries binutils gcc glibc dcron expat zlib libssh2 cyrus-sasl openssl libidn gdbm openldap-client nghttp2 jemalloc ncurses protobuff brotli curl ca-certificates git
        update-ca-certificates
        git config --system http.sslCAInfo /etc/ssl/certs/ca-certificates.crt
        git config --global http.sslBackend openssl
        git clone https://github.com/rethinkdb/rethinkdb.git
        cd rethinkdb
        ./configure --allow-fetch
        make
        
    - name: Run your command
      run: ls
