name: Run in Slackware Container
on:
  workflow_dispatch:
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aclemons/slackware:latest

    steps:
    - name: Update and install packages
      run: |
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        slackpkg install \
        aaa_libraries \
        binutils \
        brotli \
        ca-certificates \
        curl \
        cyrus-sasl \
        dcron \
        expat \
        gc \
        gcc \
        gdbm \
        git \
        glibc \
        guile \
        jemalloc \
        libidn \
        libssh2 \
        make \
        ncurses \
        nghttp2 \
        openldap-client \
        openssl \
        protobuff \
        python3 \
        xstdcmap \
        zlib
        update-ca-certificates
        echo "cacert = /etc/ssl/certs/ca-certificates.crt" | tee -a $HOME/.curlrc
        cat $HOME/.curlrc
        git config --system http.sslCAInfo /etc/ssl/certs/ca-certificates.crt
        git config --global http.sslBackend openssl
        git clone https://github.com/rethinkdb/rethinkdb.git
        cd rethinkdb
        env
        ./configure --allow-fetch PYTHON=/usr/bin/python3 CXX=gcc
        which cpp
        echo $PATH
        make
        
    - name: Run your command
      run: ls
