name: Run in Slackware Container
on:
  workflow_dispatch:
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aclemons/slackware:latest
    steps:
    - name: Update and install packages
      run: |
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        slackpkg install \
        aaa_libraries \
        automake \
        autoconf \
        binutils \
        boost \
        brotli \
        ca-certificates \
        curl \
        cyrus-sasl \
        dcron \
        expat \
        gc-8 \
        gcc-11 \
        gcc-g++ \
        gdbm \
        git \
        glibc \
        guile \
        jemalloc \
        kernel-headers \
        libidn \
        libssh2 \
        make \
        ncurses \
        nghttp2 \
        openldap-client \
        openssl \
        protobuf \
        python3 \
        quickjs \
        re2 \
        zlib
        # wget --no-check-certificate https://slackware.uk/slackware/slackware64-current/slackware64/l/protobuf-27.1-x86_64-1.txz
        wget --no-check-certificate http://www.slackel.gr/repo/x86_64/current/slackel/extra/protobuf3-3.20.1-x86_64-1dj.txz
        wget --no-check-certificate https://slackware.uk/slackware/slackware64-current/slackware64/d/llvm-18.1.7-x86_64-1.txz
        installpkg llvm-18.1.7-x86_64-1.txz
        installpkg protobuf3-3.20.1-x86_64-1dj.txz
        update-ca-certificates
        echo "cacert = /etc/ssl/certs/ca-certificates.crt" | tee -a $HOME/.curlrc
    - name: Clone and make
      run: |
        git config --system http.sslCAInfo /etc/ssl/certs/ca-certificates.crt
        git config --global http.sslBackend openssl
        git clone https://github.com/rethinkdb/rethinkdb.git
        cd rethinkdb
        ./configure --allow-fetch PYTHON=/usr/bin/python3
        make -j4
        cat ./build/external/protobuf_3.19.4_install.log
        
    - name: Run your command
      run: ls
