name: Run in Slackware Container
on:
  workflow_dispatch:
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/aclemons/slackware:current

    steps:
    - name: Update and install packages
      run: |
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        //slackpkg upgrade-all
        slackpkg install openssl nghttp2 brotli sasl ca-certificates curl git
        update-ca-certificates
        git clone https://github.com/rethinkdb/rethinkdb.git
        cd rethinkdb
        ./configure --allow-fetch
        make
        
    - name: Run your command
      run: ls
