name: Build rethinkdb
on:
  workflow_dispatch:
env:
  VERSION: "v2.4.4"
  GIT_URL: "https://github.com/rethinkdb/rethinkdb.git"
  NAME: "rethinkdb"
  SHORT_DESC: "A scalable database built for realtime applications."
  LONG_DESC: "RethinkDB is the first open-source scalable database built for realtime applications. It exposes a new database access model, in which the developer can tell the database to continuously push updated query results to applications without polling for changes. RethinkDB allows developers to build scalable realtime apps in a fraction of the time with less effort."
  URL: "https://rethinkdb.com"
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container: spaceinvaderone/auto_slack_pack
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.7
    - name: Update and install packages
      run: |
        echo "================================= Updating packages ================================="
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        slackpkg install ca-certificates
    - name: Clone and make
      run: |
        echo "================================= Cloning ${VERSION} from git ================================="
        git clone --branch $VERSION --depth 1 $GIT_URL
        cd rethinkdb
        echo "================================= Setting configuration ================================="
        ./configure --allow-fetch PYTHON=/usr/bin/python3
        echo "================================= Making ================================="
        make -j4
        echo "================================= Installing ================================="
        make install
        pwd
    - name: Prep package
      run: |
        cd ./rethinkdb
        pwd
        ls -ls
        echo "================================= Creating directory structure ================================="
        mkdir -p package/usr/local/bin
        mkdir -p package/usr/local/share/man/man1
        mkdir -p package/usr/local/share/doc/rethinkdb/copyright
        mkdir -p package/usr/local/etc/init.d
        mkdir -p package/usr/local/var/lib/rethinkdb/instances.d
        mkdir -p package/usr/local/etc/rethinkdb
        mkdir -p package/install
        ls -ls
        echo "================================= Copying files ================================="
        cp ./build/release/rethinkdb ./package/usr/local/bin
        cp ./build/release/assets/rethinkdb.1.gz ./package/usr/local/share/man/man1
        cp ./packaging/assets/docs/LICENSE ./package/usr/local/share/doc/rethinkdb/copyright
        cp ./packaging/assets/init/rethinkdb ./package/usr/local/etc/init.d
        cp /usr/local/etc/rethinkdb/default.conf.sample ./package/usr/local/etc/rethinkdb/default.conf.sample
        
        wget https://master.dl.sourceforge.net/project/slack-desc/slackdesc-0.03/slackdesc
        chmod +x slackdesc
        ./slackdesc "${NAME}" "${SHORT_DESC}" "${LONG_DESC}" "${URL}" > ./package/install/slack-desc
        ls -ls ./package
        echo "================================= Creating package ${VERSION} ================================="
        cd ./package
        makepkg ../rethinkdb.txz

