name: Build rethinkdb
on:
  workflow_dispatch:
jobs:
  slackware-job:
    runs-on: ubuntu-latest
    container: spaceinvaderone/auto_slack_pack
    steps:
    - name: Update and install packages
      run: |
        CONF_FILE="/etc/slackpkg/slackpkg.conf"
        sed -i "s/^DIALOG=.*/DIALOG=off/" "$CONF_FILE"
        sed -i "s/^BATCH=.*/BATCH=on/" "$CONF_FILE"
        sed -i "s/^DEFAULT_ANSWER=.*/DEFAULT_ANSWER=y/" "$CONF_FILE"
        slackpkg update <<< y
        slackpkg install ca-certificates
        update-ca-certificates
    - name: Clone and make
      run: |
        git clone https://github.com/rethinkdb/rethinkdb.git
        cd rethinkdb
        ./configure --allow-fetch PYTHON=/usr/bin/python3
        make -j4
        make install
        pwd
    - name: Prep package
      run: |
        mkdir -p package/usr/local/bin
        cp build/release/rethinkdb package/usr/local/bin
        mkdir -p package/usr/local/share/man/man1
        cp build/release/assets/rethinkdb.1.gz package/usr/local/share/man/man1
        mkdir -p package/usr/local/share/doc/rethinkdb/copyright
        cp ./packaging/assets/docs/LICENSE package/usr/local/share/doc/rethinkdb/copyright
        mkdir -p package/usr/local/etc/init.d
        cp ./packaging/assets/init/rethinkdb package/usr/local/etc/init.d
        mkdir -p package/usr/local/var/lib/rethinkdb/instances.d
        cp /usr/local/etc/rethinkdb/default.conf.sample package/usr/local/etc/rethinkdb/default.conf.sample
        mkdir -p package/install
        NAME="rethinkdb"
        SHORT_DESC="A scalable database built for realtime applications."
        LONG_DESC="RethinkDB is the first open-source scalable database built for realtime applications. It exposes a new database access model, in which the developer can tell the database to continuously push updated query results to applications without polling for changes. RethinkDB allows developers to build scalable realtime apps in a fraction of the time with less effort."
        URL="https://rethinkdb.com"
        wget https://master.dl.sourceforge.net/project/slack-desc/slackdesc-0.03/slackdesc
        chmod +x slackdesc
        ./slackdesc "${NAME}" "${SHORT_DESC}" "${LONG_DESC}" "${URL}" > ./package/install/slack-desc
        ls -ls ./package

